
# Specify the path to XAMPP
export XAMPP_PATH=/Applications/XAMPP

# Specify the Xataface project template
export COMPOSER_TEMPLATE_NAME=xataface/example-app@dev-master

# The port to use for apache
export XFServerPort=9091

# Database settings: Username, password and database name
#
# Database settings.  Permissions are turned off, so only the MYSQL_DATABASE
# is important here
export MYSQL_USER=root
export MYSQL_PASSWORD=password
export MYSQL_DATABASE=example_app


####################################################
export PATH="$XAMPP_PATH/xamppfiles/bin:$PATH"
export XATAFACE=www/vendor/xataface/xataface